.bar{
    height: 6px;
    width: 100%;
    background-color: var(--c-purple-primary);
}

.header-container{
    max-width: 750px;
    height: 60px;
    margin: 26px auto;
    padding: 0 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    height: 43px;
    width: 148px;
    border-radius: 60px;
    border: 1px solid var(--c-purple-secondary);
    font-weight: bold;
    color: var(--c-purple-secondary);
}